:root {
  --primary: #614acf;
  --font: #151515;
}

* {
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: var(--font);
  max-height: 2000px;
}
.label-bmi h1 {
  margin-top: 3rem;
  align-items: center;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}
.label-bmi h2 {
  align-items: center;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}
form {
  display: flex;
  flex-direction: column;
  margin-left: 310px;
  margin-right: 400px;
}
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 1rem 0;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #cccccc;
  font-size: 16px;
}
button[type="submit"] {
  width: 30%;
  background-color: var(--primary);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}
.result {
  margin-top: 3rem;
  padding: 10px;
  text-align: center;
}

.result h2 {
  margin: 0;
}
